<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% comment %}
    {% include home/tickets.html %}
    {% endcomment %}
    {% include home/about.html %}
    {% include home/speakers-slider.html %}
    {% comment %}
    {% include agenda-slider.html agenda-data=site.data.agenda %}
    {% include home/calls.html %}
    {% include home/sponsors-call.html %}
    {% endcomment %}
    {% include home/timeline.html %}
    {% include home/venue.html %}
    {% include home/sponsors.html %}
    {% include home/organizers.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
</body>

</html>